*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1170px;
	margin: auto;
}
h2{
    color: white;
}
.side{
    position: absolute;
	background-color: teal;
	left: 0px;
    margin-right: 1140px;
    border-right: 3px solid white;
    font-family: sans-serif;
    height: 1000px;
    padding: 30px;
}
.navbar{
    text-decoration: none;
    text-transform: none;
    padding: 0px;
}
a:link { 
    text-decoration: none; 
    color: white;
}
a:visited { 
    text-decoration: none; 
    color: white;
}
a:hover { 
    text-decoration: none; 
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(5, 99, 99);
}
a:active { 
    text-decoration: none; 
    color: red;
}


head{
	margin: 100px;
	padding: 0px;
}
body{
	background:rgba(0, 0, 0, 0.9)  url("https://cdn.wallpapersafari.com/31/38/dNok7V.jpg");
	background-blend-mode: darken;
	background-size: 100%;
	background-position: 0px  0px;
}

