*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1170px;
	margin: auto;
}
h2{
    color: white;
}
.side{
    top: 0px;
    position: absolute;
	background-color: teal;
	left: 0px;
    margin-right: 1140px;
    border-right: 3px solid white;
    font-family: sans-serif;
    height: 2100px;
    padding: 30px;
}
.navbar{
    text-decoration: none;
    text-transform: none;
    padding: 0px;
}
a:link { 
    text-decoration: none; 
    color: white;
}
a:visited { 
    text-decoration: none; 
    color: white;
}
a:hover { 
    text-decoration: none; 
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(5, 99, 99);
}
a:active { 
    text-decoration: none; 
    color: red;
}
.content{
    
	background-color: teal;
    margin-left: 340px;
    margin-top: 100px;
    border: 3px solid rgb(255, 255, 255);
    font-family: sans-serif;
    height: 2000px;
    width: 900px;
    padding: 30px;
    border-radius: 10px;
}
.details{
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    
}
h4{
    font-family: sans-serif;
    font-size: 24px;
}
table{
    border: 1px;
}
th{
    padding-right: 230px;
    padding-bottom: 5px;
    
}
td{
    padding-bottom: 7px;
    font-family: sans-serif;
    font-size: 14px;
}


head{
	margin: 100px;
	padding: 0px;
}
body{
	background:rgba(0, 0, 0, 0.8)  url("https://cdn.wallpapersafari.com/31/38/dNok7V.jpg");
	background-blend-mode: darken;
	background-size: 100%;
	background-position: 0px  0px;
    
}
button{
    
	width: 150px;
	padding: 3px;
	background-color: whitesmoke;
	right: 10px;
    bottom: 20px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
	border-radius: 2px;
	box-shadow: inset 2px 2px 5px dimgray;
	cursor: pointer;
	border: 2px solid black;

}

