*{
	margin: 0 ;
	padding: 0;
}
.wrapper{
	width: 1170px;
	margin: auto;
}

body {
	background:rgba(0, 0, 0, 0.7)  url("https://cdn.wallpapersafari.com/31/38/dNok7V.jpg");
	background-blend-mode: darken;
	background-size: 100% ;
	height: 1000px;

}

header{
	color: teal;
	font-family: sans-serif;
	position: fixed;
	height: 25px;
	z-index: 100;
	top: 0px;
	
}

h1{
	
	top: 0px;
	margin-bottom: 20px;
	background: teal;
	color: white;
	font-family: 'Montserrat', sans-serif;
	width: 2000px;


}
.navbar{
	float: right;
	list-style: none;
	margin-top: 0px;
	right: 20px;
	top: 10px;
	position: fixed; 
	color: white;

}
.navbar li{
	display: inline-block;
	margin-right: 15px;

	
}
.navbar li a{
	color: teal;
	text-decoration: none;
	padding: 5px 20px;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
}
.navbar li a:hover{
	background: #379EA4;
	color: white;
	border-radius: 3px;
}
.dropbtn {
  
  color: #379EA4;
  font-size: 14px;
 
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  right: 16px;
  left: 10px;
  margin-right: 40px;

}
.dropdown:hover{
	background: #379EA4;
	color: white;
	border-radius: 3px;
	padding: 5px 0px;
	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: teal;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
  right: 3.5px;
  color: white;
}

.dropdown-content a {
  background-color: teal;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: white;
  color: teal;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
  background-color: teal;

}
.backhome{
	background: teal;
	width: 70px;
	margin-left: 30px;
	height: 30px;
	border-radius: 3px;
	text-align: center;
	
}

.productsss{
	padding: 50px 20px;
}

.dwk{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	margin-bottom: 60px;
}

.idgaf{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	margin-bottom: 60px;
}
.ring{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 115px;
	margin-bottom: 60px;
}
.until{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 115px;
	margin-bottom: 60px;
}
.sxf{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}
.msp{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}
.hp{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}
.tasm{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}
.jl{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
	margin-left:5px;
}
.naruto{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}
.guinness{
	margin-right: 60px;
	border-radius: 4px;
	border: 3px solid #0f1111;
	height: 165px;
	width: 110px;
	margin-bottom: 60px;
}

main{
	background-color: teal;
	margin: 100px 300px ;
	border-radius: 3%;
	border:  5px solid white;
	box-shadow: 5px 5px 55px rgb(250, 246, 246);
	padding: 60px;
	margin-right: 500px;
	margin-left: 100px;
	height: 700px;
	width: 1000px;

}
button{
	position: absolute;
	width: 130px;
	padding: 3px;
	background-color: whitesmoke;
	margin: 0px 0px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 600;
	border-radius: 2px;
	box-shadow: inset 2px 2px 5px dimgray;
	cursor: pointer;
	border: 2px solid black;
	margin-left: -190px;
	margin-top: 175px;
	margin-right: 100px;

}



.ARR{
	background: teal;
	position: absolute;
	bottom: 0px;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	padding: 50px 55px;
	padding-top: 25px;

}
p{
	font-size: 12px;
}
button{
	text-align: center;
}
footer{
	background: teal;
	position: absolute;
	bottom: -500px;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	padding: 50px 55px;
	padding-top: 25px;
	height: 170px;
}
.foot{
	background: teal;
	
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	

}
.leftfooter{
	width: 25%;
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	left: 50px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	text-align: left;
	left: 200px;
	line-height: 1.3;
	
}
.midfooter{
	width: 25%;
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	left: 50px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	text-align: left;
	left: 550px;
	line-height: 1.4;
	
}
.rightfooter{
	width: 25%;
	position: absolute;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	left: 50px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	text-align: left;
	left: 990px;
	line-height: 1.4;
	
}
.socmed {
	list-style: none;
	text-decoration: none;
}